{{/*注意要加.*/}}
{{template "main.tmpl" .}}

{{ define "content" }}
<div class="h4">金币消耗查询</div>
<form action="/main/user" method="post">
<div class="form-group">
    <input id="playerId" name="playerId" type="text" placeholder="UID" value={{ .playerId }} class="form-control"/>
</div>
<div class="form-actions form-group">
    <button type="submit" class="btn btn-success btn-sm">Submit</button>
</div>
</form>

<div class="table-responsive">
    <div class="h5">消耗列表</div>
        <table class="table table-hover">
            <thead>
            <tr>
                <th>UID</th>
                <th>Name</th>
                <th>年龄</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>{{.uid}}</td>
                <td>{{.name}}</td>
                <td>{{.age}}</td>
            </tr>
            </tbody>
        </table>
</div>
{{end}}